.Calculadora{
    margin: auto;
    margin-top: 5%;
    width: 50%;
    
}
.Pantalla{
    height: 100px;
    width: 750px;
    margin: 5px;
    border: solid black 1px;
    font-size: 2rem;
    text-align: right;
}
.Pantalla p{
    margin-right: 10px;
    overflow:hidden;
}
.Boton1{
    height: 50px;
    width: 180px;
    margin: 5px;
    border: solid black 1px;
    font-size: 1.5rem;
}
.Boton2{
    height: 50px;
    width: 370px;
    margin: 5px;
    border: solid black 1px;
    font-size: 1.5rem;
}