#compra{
    display: flex;
    height: 100vh;
}
#formulario{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
border-right: 1px solid black;
}
#productoForm{
    margin-top: 50px;
text-align: center;
width: 50%;
border: 2px black solid;
}
#lista{
width: 50%;
}
li{
text-align: center;
list-style: none;
}
.fila{
    border-bottom: 2px solid black;
}

.oculto{
    display: none;
}