#compra{
    display: flex;
    height: 100vh;
}
#formulario{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
border-right: 1px solid black;
}
#productoForm{
margin-top: 150px;
margin-bottom: 7px;
text-align: center;
width: 50%;
border: 4px black solid;
border-radius: 10px;
background-color: lightgray;
padding: 5px;
}
#lista{
width: 50%;
}
li{
text-align: center;
list-style: none;
}
.fila{
    border-bottom: 2px solid black;
}

.oculto{
    display: none;
}