.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#contenedor{
  display: flex;
  flex-wrap: wrap;
}
#infoActor{
  width: 30vw;
  border: 5px solid yellow;
  border-radius: 7px;
  padding: 10px;
  background-color: black;
  margin-top: 20px;
  margin-right: 2vw;
}
#infoActor h2{
  border-bottom: 5px solid yellow;
  font-weight:bold;
  font-size: 3rem;
}
#infoActor ul{
  list-style: none;
}
#infoActor p{
  margin: 5px;
}
#naveVehiculo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  border: 5px solid yellow;
  border-radius: 7px;
  padding: 10px;
  background-color: black;
  margin-top: 20px;
  margin-right: 2vw;
}
#naveVehiculo h2{
  margin: 10px 0px;
}
#infoPeli{
  width: 69vw;
  border: 5px solid yellow;
  border-radius: 7px;
  padding: 10px;
  background-color: black;
  margin-top: 20px;
  margin-right: 2vw;
}
#infoPeli h1{
  border-bottom: 5px solid yellow;
  font-weight:bold;
}
.pelicula:hover,.actor:hover,.nave:hover,.vehiculo:hover{
  cursor:pointer;
}