p{
    background-color: gray;
    width: 250px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding: 2px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#botones{
    text-align: center;
}
button{
    background: darkgray;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
}
.acierto{
    color: green;
}
.fallo{
    color: red;
}